body {
    direction: rtl;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
    display: block;
}

button:hover {
    background-color: #3e8e41;
}

#resultImage {
    max-width: 500px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
